<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="shortcut icon" href="/static/images/Charizard.png" type="image/x-icon">
  
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&display=swap" rel="stylesheet">
  
    <title>Pokemon Attack Types Pie Chart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cosmo/bootstrap.min.css"
      integrity="sha256-iMtue7kH6spfqTbfU9XGcwtBF8bgiOnVTErTuh7LJr8=" crossorigin="anonymous">
  
    <!--CSS-->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
  
  
  </head>
  
  <body>
    <header>
      <nav class="header__navBar">
        <ul>
          <li>
            <a href="/">
                <img src="https://img.icons8.com/plasticine/256/home-page.png"/>
                <span>Home</span>
            </a>
        </li>
          <li>
            <a href="https://pokeapi.co/" target="_blank">
              <img src="https://img.icons8.com/color/48/000000/pokeball-2.png" />
              <span>Pokemon API</span>
            </a>
          </li>
          <li>
            <a href="/chart_select">
              <img src="https://img.icons8.com/office/512/doughnut-chart--v1.png" />
              <span>Charts</span>
            </a>
          </li>
          <li>
            <a href="/map_select">
            <img src="https://scarletviolet.pokemon.com/_images/news/aug_3/world-map-2x.jpg"/>
                <span>PokeMaps</span>
            </a>
        </li>
          <li>
            <a href="https://github.com/gussiepoole/Project-3" target="_blank">
              <img src="https://img.icons8.com/ios-filled/48/000000/github.png" />
              <span>Our Github</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <title>3D Scatter Plot of Pokemon Attack and Defence</title>
    
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div id="plot"></div>
    <script>
      // // Make a GET request to the PokeAPI to retrieve data for 150 Pokemon
      // const url = 'https://pokeapi.co/api/v2/pokemon?limit=150';
      // fetch(url)
      //   .then(response => response.json())
      //   .then(data => {
      //     // Extract the attack and defence stats from the Pokemon data
      //     const attack = data.results.map(pokemon => pokemon.stats.find(stat => stat.stat.name === 'attack').base_stat);
      //     const defence = data.results.map(pokemon => pokemon.stats.find(stat => stat.stat.name === 'defense').base_stat);
      //     const HP = data.results.map(pokemon => pokemon.stats.find(stat => stat.stat.name === 'HP').base_stat);

      //     // Create a trace for the scatter plot
      //     const trace = {
      //       x: attack,
      //       y: defence,
      //       mode: 'markers',
      //       type: 'scatter3d',
      //       marker: {
      //         size: 4,
      //         color: 'rgb(0, 255, 0)',
      //       },
      //     };

      //     // Create the data array for the plot
      //     const data = [trace];

      //     // Create the layout for the plot
      //     const layout = {
      //       title: 'Attack and Defence Stats of 150 Pokemon',
      //       scene: {
      //         xaxis: { title: 'Attack' },
      //         yaxis: { title: 'Defence' },
      //         zaxis: { title: 'HP' },
      //       },
      //     };

      //     // Create the plot and add it to the page
      //     Plotly.newPlot('plot', data, layout);
      //   })
      //   .catch(error => {
      //     console.error('Error retrieving Pokemon data:', error);
      //   });
    </script>
    <script src="../static/js/attack.js"></script> 
  </body>
</html>
